<div id="{{key}}">
  <button id="watch--{{id}}" class="watch-list-delete">Remove Card</button>
   <h2 class="title">{{title}}</h2>
   <img class="poster" src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
   <h5 class="overview">{{overview}}</h5>
   <p class="release">{{release_date}}</p>
   <p> Starring </p>
   {{#each cast}}
   <p class="actors">{{name}} as {{character}}</p>
   {{/each}}
   <input id="star--{{key}}" type="text" class="rating" data-size="xs" >
</div>