<div id="{{key}}">
   <button id="watch--{{id}}" class="watch-list-delete">Remove Card</button>
    <h2> {{title}}</h2>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
    <h5>{{overview}}</h5>
    <p>{{release_date}}</p>
    <p> Starring </p>
    {{#each cast}}
    <p>{{name}} as {{character}}</p>
    {{/each}}
    <input id="star--{{key}}" type="text" class="rating" data-size="xs" >
<!--
    <select>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
-->
</div>
